.amount-yellow {
    background: #fffffffa;
    background: linear-gradient(to left, #fffffffa, #000000fa);
    color: #ffffff;
}

.amount {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 10em;
    font-size: 1rem;
}